[Unit]
Description=Supabase vsock Proxy
After=network-online.target
DefaultDependencies=no

[Service]
Type=simple
StandardOutput=journal
StandardError=journal
SyslogIdentifier=vsock-proxy
# Use RUST_LOG=trace for more verbose logging
ExecStart=/bin/bash -ce "exec /usr/bin/socat vsock-listen:8001,fork,reuseaddr tcp-connect:aws-0-us-east-1.pooler.supabase.com:5432"
Restart=always
TimeoutSec=0

[Install]
WantedBy=multi-user.target